name: Reusable Docker Build & Push

on:
  workflow_call:
    inputs:
      registry:
        required: true
        type: string
      username:
        required: true
        type: string
      password:
        required: true
        type: string

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to registry
        uses: docker/login-action@v2
        with:
          username: ${{ inputs.username }}
          password: ${{ inputs.password }}
          registry: ${{ inputs.registry }}

      - name: Build backend image
        run: docker build -t ${{ inputs.registry }}/ecommerce-backend:latest ./backend

      - name: Build frontend image
        run: docker build -t ${{ inputs.registry }}/ecommerce-frontend:latest ./frontend

      - name: Push backend image
        if: ${{ inputs.username != '' && inputs.password != '' }}
        run: docker push ${{ inputs.registry }}/ecommerce-backend:latest

      - name: Push frontend image
        if: ${{ inputs.username != '' && inputs.password != '' }}
        run: docker push ${{ inputs.registry }}/ecommerce-frontend:latest
